<h1>WebConfig</h1>
{% for namespace in configurables %}
<div>
    <h2>{{ namespace }}</h2>
    <table>
        {% for object in configurables[namespace] %}
        <tr>
            <td>{{ object }}</td>
            <td><a href="/{{ namespace }}/{{ object.url_name }}">{{ object.configurable_attributes.__len__() }} attribute{{ "s" if object.configurable_attributes.__len__() != 1 else "" }}</a></td></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endfor %}