<html>
<header></header>
<body>
<h1>Configure {{ object }}</h1>
{%- if object.__doc__ %}
<div>{{ object.__doc__ }}</div>
{%- endif %}
{%- if object %}
<form action="/{{ namespace }}/{{ object.url_name }}" method="POST">
    {%-for attr in object.configurable_attributes %}
    {{ attr }}<br>
    {{ object.get_config(attr).get_type().__name__ }}<br>
    {{ object.get_config(attr).get_html() }}<br>
    {%-endfor %}
    <input type="submit">
</form>
{%- else %}
No configurable options.
{%- endif %}
</body>
</html>